src/main/resources/XSD/Publications.xsd

<?xml version="1.0" encoding ="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.example.com/publications"
            xmlns="http://www.example.com/publications">

    <xsd:include schemaLocation="Publication.xsd"/>


    <xsd:element name="publications" type="publicationListType"/>
    <xsd:complexType name="publicationListType">
        <xsd:sequence>
            <xsd:element name="publication" type="publicationType" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>