src/main/java/entity/Publications.xsd

<?xml version="1.0" encoding ="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
          >
    <xsd:include schemaLocation="Publication.xsd"/>

    <xsd:element name="publications" type="publicationsListType"/>
    <xsd:complexType name="publicationsListType">
        <xsd:sequence>
            <xsd:element name="publication" type="publicationType" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>